# Byte-compiled Python files
__pycache__/
*.py[cod]

# Django-related files
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Secret keys and environment-specific settings
.env
*.env

# Development and IDE-specific files
*.pydevproject
*.idea/
.vscode/

# Dependency directories
venv/